* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #000;
    color: #fff;
    overflow-x: hidden;
}
main {
    padding-top: 120px;
}
#burbujas-container {
    position: fixed;
    inset: 0;
    overflow: hidden;
    pointer-events: none;
}
.burbuja {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 255, 247, 0.306);
    border-radius: 50%;
    opacity: 0;
    pointer-events: none;
    z-index: -1;
}
@keyframes moverArriba {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(-100vh);
    }
}
ul {
    list-style: none;
    display: flex;
}
li {
    margin: 0 30px;
}
nav {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(10, 10, 10, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 50px;
    z-index: 1000;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}
nav a:hover {
    color: #00fff7;
    text-shadow:
        0 0 5px #00fff7,
        0 0 15px #00fff7,
        0 0 30px #00fff7;
}
